/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header h1 {
    font-size: 2em; /* Ukuran font header */
}

nav {
    background-color: #666;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Menggunakan flexbox untuk tata letak menu */
    flex-wrap: wrap; /* Memungkinkan menu membungkus ke baris berikutnya */
    justify-content: center; /* Pusatkan menu secara horizontal */
}

nav ul li {
    margin: 5px; /* Beri ruang antar item menu */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px; /* Tambahkan padding untuk area klik yang lebih besar */
    background-color: #444; /* Beri latar belakang untuk visibilitas */
    border-radius: 10px; /* Tambahkan sudut melengkung */
    font-size: 1em; /* Ukuran font tautan menu */
}

nav ul li a:hover {
    background-color: #555; /* Ubah latar belakang saat hover */
}

main {
    padding: 20px;
    background-color: #fff;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}


.about-us .column {
    flex: 1 1 calc(50% - 40px);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.with-image {
    display: flex;
    align-items: center;
}

.image-container {
    flex: 1;
    margin-right: 20px; /* Jarak antara gambar dan teks */
}

.image-container img {
    max-width: 70%; /* Gambar akan maksimum mengikuti lebar container */
    border-radius: 10px; /* Sudut melengkung untuk gambar */
}

.text-content {
    flex: 1;
}

.vision-mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.vision, .mission {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.about-us h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.about-us p {
    color: #666;
    margin-bottom: 20px;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: 40px auto;
}

.mySlides {
    display: none;
    position: relative;
}

.mySlides img {
    width: 100%;
    border-radius: 10px;
}

/* Logo dan nama sekolah di header */
.school-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Jarak antara logo dan judul */
}

.school-logo img {
    max-width: 50px; /* Ukuran maksimum logo */
    margin-right: 10px; /* Jarak antara logo dan teks */
}

.school-logo h1 {
    font-size: 1.5em; /* Ukuran font judul sekolah */
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    flex-direction: column; /* Mengatur tata letak menjadi kolom */
    align-items: left; /* Memusatkan konten secara horizontal */
    
}

.news-container h1 {
    text-align: center;
    font-size: 2em; /* Ukuran font header */
}

.news-item {
    flex: 1;
    max-width: 450%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.news-item img {
    max-width: 200px;
    object-fit: cover;
    border-radius: 0px 0 0 0px;
}

.news-item .text {
    padding: 20px;
}

.news-item h3 {
    margin-top: 0;
    color: #333;
}

.news-item p {
    color: #666;
    margin: 10px 0 0;
}

/* Gaya untuk sidebar */
/* Sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}
.sidebar-logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 80px; /* Sesuaikan ukuran logo */
    height: auto;
}

.main {
    transition: margin-left .5s;
    padding: 16px;
}


.btn-back {
    display: block;
    margin: 10px 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    float: right; /* Menambahkan float: right untuk meratakan tombol ke kanan */
}

.main {
    padding: 20px;
}

.profil {
    text-align: center;
}

.profil-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profil-image {
    margin-bottom: 20px;
}

.profil-image img {
    height: 150px;
    border-radius: 50%;
}

.profil-image input {
    display: none;
}

.profil-image label {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #555;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.profil-table {
    width: 100%;
    max-width: 500px;
    border-collapse: collapse;
}

.profil-table td {
    padding: 10px;
    border: 1px solid #ddd;
}


.cek-nilai button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
.column {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}
.column h2 {
    color: rgb(10, 10, 10);
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 10px -20px;
}
.subject {
    background-color: #e7f3e7;
    border: 1px solid #c7e1c7;
    border-radius: 4px;
    margin: 10px 0;
    padding: 10px;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}

.attended {
    background-color: #4CAF50; /* Green color for attended state */
    color: white;
}

.buttons button:disabled {
    background-color: #e21f1f; /* Gray out disabled buttons */
    color: #dfd9d9;
    cursor: not-allowed;
}

/* styles.css */

/* Existing styles... */



.buttons button.attended {
    background-color: #4CAF50; /* Warna latar belakang untuk tombol yang sudah hadir */
}

.announcement-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.announcement {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.announcement h2 {
    color: #333;
    margin-bottom: 10px;
}

.announcement p {
    color: #666;
    margin-bottom: 20px;
}

.pengaturan-section {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}


.form-group button:hover {
    background-color: #45a049;
}

#error-message {
    color: red;
    margin-top: 10px;
}

.cerdas-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cerdas-item {
    text-align: center;
}

.cerdas-item img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    margin-bottom: 10px;
}

.cerdas-item p {
    font-weight: bold;
}

.judul {
    text-align: center;
    font-size: 2rem; /* Ukuran font judul */
    margin-bottom: 20px;
}

.video-container {
    margin-top: 20px;
    text-align: center;
}

.video-container h2 {
    margin-bottom: 10px;
}

.video-container iframe {
    max-width: 100%;
}

.library-container {
    margin-top: 20px;
    text-align: center;
}

.library-container h2 {
    margin-bottom: 20px;
}

.library-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.library-text {
    flex: 1;
    padding: 10px;
    text-align: left;
}

.library-item img {
    flex: 1;
    max-width: 30%;
    height: auto;
    border-radius: 10px;
    margin-left: 20px;
}
.eskul-container {
    padding: 20px;
    text-align: center
}

.eskul-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.eskul-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.eskul-text {
    max-width: 600px;
}

.eskul {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eskul h2 {
    margin-top: 0;
}

.eskul-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.eskul-table th, .eskul-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.eskul-table th {
    background-color: #4CAF50;
    color: white;
}

.eskul-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Penanggung Jawab Styles */
.penanggung-jawab {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.circle {
    text-align: center;
}

.circle img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.circle p {
    margin-top: 10px;
}
/* Media query untuk layar kecil (ponsel) */
@media only screen and (max-width: 600px) {
    header h1 {
        font-size: 1.0em; /* Ukuran font lebih kecil untuk header */
    }
    nav ul li a {
        padding: 10px; /* Kurangi padding jika perlu untuk ruang yang lebih kecil */
        font-size: 0.8em; /* Ukuran font lebih kecil untuk tautan menu */
    }
    footer p {
        font-size: 0.6em; /* Ukuran font lebih kecil untuk footer */
    }
    .about-us {
        flex-direction: column;
    }
    .about-us .column {
        flex: 1 1 10%;
        margin-bottom: 10px; /* Jarak antara kolom pada layar kecil */
    }
    .image-container {
        max-width: 100%;
        margin-bottom: 20px; /* Jarak antara gambar dan teks pada layar kecil */
    }
    .vision-mission {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        display: grid;
        font-size: 10px;
    }
    .school-logo img {
        max-width: 40px; /* Ukuran maksimum logo pada layar kecil */
    }
    .school-logo h1 {
        font-size: 1em; /* Ukuran font judul sekolah pada layar kecil */
    }
    .news-container {
        align-items: stretch; /* Mengatur agar konten merentang penuh */
    }
    .news-container h1 {
        text-align: center;
        font-size: 1em; /* Ukuran font header */
    }
    .news-item {
        max-width: 150%; /* Lebar maksimum untuk mode kecil */
        margin-bottom: 20px; /* Jarak antara setiap berita */
    }

    .news-item img {
        max-width: 40%; /* Gambar mengisi lebar kontainer */
        border-radius: 1px 1px 0 0; /* Sudut melengkung untuk gambar */
    }
    .news-item .text {
        padding: 15px; /* Padding untuk teks berita */
    }

    .news-item h3 {
        font-size: 1em; /* Ukuran font judul berita */
    }

    .news-item p {
        font-size: 0.5em; /* Ukuran font paragraf berita */
    }

    .sidebar a {
        padding: 10px;
        font-size: 20px;
    }

    .sidebar .closebtn {
        font-size: 30px;
    }

    .btn-back {
        width: calc(30% - 40px);
        margin: 10px 20px;
        font-size: 14px;
        padding: 8px 16px;
        float: none; /* Menghapus float di layar kecil */
    }
    .container {
        display: grid;
        grid-template-columns: 1fr, 1fr; /* Layout satu kolom untuk layar kecil */
        gap: 20px;
        padding: 10px; /* Padding tambahan untuk ruang yang lebih baik */
    }

    .column {
        padding: 10px; /* Padding tambahan untuk ruang yang lebih baik */
    }

    .column h2 {
        font-size: small;
        text-align: center; /* Pusatkan teks */
        width: calc(80% - 0px); /* Sesuaikan lebar dengan padding yang ditambahkan */
        margin:  auto; /* Pusatkan horizontal */
    }

    .subject {
        font-size: 0.4em; /* Ukuran font subjek untuk layar kecil */
        padding: 4px; /* Padding tambahan untuk ruang yang lebih baik */
        text-align: center; /* Pusatkan teks */

    }

    .buttons {
        margin-top: 8px; /* Ruang atas tambahan untuk tombol */
        font-size: small;
    }

    .buttons button {
        font-size: 0.7em; /* Ukuran font tombol lebih kecil untuk layar kecil */
        padding: 6px 10px; /* Padding tombol lebih kecil untuk layar kecil */
    }

    .announcement {
        padding: 15px;
    }
    .announcement h2 {
        font-size: 1em;
    }
    .announcement p {
        font-size: 0.9em;
    }
    .judul {
        text-align: center;
        font-size: 1rem; /* Ukuran font judul */
        margin-bottom: 20px;
    }
    .cerdas-container {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .cerdas-item {
        text-align: center;
        font-size: 40%;
    }
    
    .cerdas-item img {
        width: 80px;
        height: 80px;
        border-radius: 5%;
        margin-bottom: 10px;
    }
    
    .cerdas-item p {
        font-weight: bold;
    }
    .slideshow-container {
        position: relative;
        max-width: 350px; /* Mengatur maksimum lebar slideshow */
        margin: 40px auto;
        overflow: hidden; /* Mengatasi gambar yang lebih besar dari kontainer */
    }
    
    .mySlides {
        display: none;
        position: relative;
    }
    
    .mySlides img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .video-container {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
    }
    
    .video-container h2 {
        margin-bottom: 10px;
    }
    
    .video-container iframe {
        max-width: 70%;
        height: 50%;
    }
    .library-container {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;
    }
    
    .library-container h2 {
        margin-bottom: 10px;
    }
    .library-text p {
        font-size: 10px;
    }
    .library-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        
    }
    
    .library-text {
        flex: 1;
        padding: 10px;
        text-align: left;
        
    }
    
    .library-item img {
        flex: 1;
        max-width: 40%;
        height: auto;
        border-radius: 10px;
        margin-left: 20px;
    }
    
    .container {
        grid-template-columns: repeat(3, 1fr); /* Dua kolom dalam satu baris */
        padding: 1px;
    }

    .column {
        border-bottom: none; /* Menghilangkan garis bawah antar kolom pada layar kecil */
    }

    .column h2 {
        font-size: 0.8rem; /* Ukuran font untuk judul pada layar kecil */
    }

    .column p {
        font-size: 0.8rem; /* Ukuran font untuk judul pada layar kecil */
    }

    .subject {
        font-size: 0.7rem; /* Ukuran font untuk teks subjek pada layar kecil */
    }

    form input[type="file"] {
        font-size: 0.5rem; /* Ukuran font untuk input file pada layar kecil */
    }

    form input[type="submit"] {
        font-size: 0.6rem; /* Ukuran font untuk tombol submit pada layar kecil */
    }

    .eskul {
        padding: 10px;
    }

    .eskul-table th, .eskul-table td {
        padding: 6px;
        font-size: 10px;
    }

    .penanggung-jawab {
        align-items: center;
    }

    .penanggung-jawab p {
        font-size: 10px;
    }

    .circle {
        margin-bottom: 20px;
    }

    .circle img {
        width: 60px;
        height: 60px;
    }
    .eskul-container {
        padding: 20px;
        text-align: center;
        font-size: 10px;
    }
    
    .eskul-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .eskul-item img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        margin-right: 20px;
    }
}
    


    

